fastapi
uvicorn
httpx
setuptools
python-docx
python-multipart
python-pptx
pydantic
pydantic-settings
langdetect
ruff
pre-commit
pytest
pytest-asyncio
python-dotenv
reportlab
openpyxl
pymupdf
pytesseract
pdf2image
pdfplumber
paddleocr==2.7.3
paddlepaddle==3.2.2
opencv-python-headless
numpy==1.26.4
